#manage-spots-container {
  /* border: solid 2px red; */
}

.manage-spots-header {
  /* border: solid 2px blue; */
  display: flex;
  flex-direction: column;
  padding: 20px;

}
.user-owned-spot {
  /* border: solid 2px green; */
  display: inline-flex;
  flex-direction: column;

  flex-wrap: wrap;
  padding: 10px;
}





.user-owned-update-delete-buttons{
  /* border: solid 2px blue; */
  display: flex;
  gap: 20px;
  }

  .user-owned-update-button {
    text-decoration: none;
    border:none;
    background-color: grey;
    box-shadow: 2px 2px 2px black;
    color: white;
    font-size: 12px;
    cursor: pointer;
    }

.user-owned-delete-button {
  border: none;
  background-color: grey;
  box-shadow: 2px 2px 2px black;
  font-size: 14px;
  color: white;
  cursor: pointer;

}







@media screen and (min-width: 2400px) {
    #manage-spots-container {
      max-width: 2400px;
      margin: 0 auto;
    }
  }
