#search-bar-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.search-bar-form {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 50px;
  box-shadow: 2px 2px 2px rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
}

.search-bar-field {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  padding: 10px;
}

.search-bar-field:hover {
  box-shadow: 2px 2px 2px rgb(236, 236, 236);
  background-color: rgb(229, 228, 228);

  input {
    background-color: rgb(229, 228, 228);
  }
}

.search-bar-field label {
  /* border: 2px dashed pink; */
  padding-left: 20px;
  font-weight: bold;
  font-size: 12px;
}

.search-bar-field input {
  border: none;
  padding-left: 20px;
}

.search-bar-button {
  /* border: 2px dashed purple; */
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #fc807d;
  padding: 10px;
  height: 50px;
  width: 50px;
  font-size: 18px;
  font-weight: bolder;
}

.search-bar-separator {
    border-right: 1px solid grey;
}

/*

input[type='date']::before {
    content: 'Add Dates';
} */
