@import url(https://db.onlinewebfonts.com/c/02d8f1743ede250c7c9865f1574d7cc6?family=Circular+Book);

* {
  font-family: "Circular Book";
}

:root {
  --website-font-color: black;
}


#nav-right-side {
  list-style-type: none;
  /* border: solid 2px pink; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.create-a-new-spot {
  /* border: dotted 2px orange; */

  text-decoration: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
}

.create-a-new-spot:hover {
  background-color: #EBEBEB;

}


.hidden {
  display: none;
}


#navbar {
  /* border: solid 2px red; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* border-bottom: solid 1px #e1e1e1; */
  padding: 10px 30px;


}

#home-icon {
  /* border: solid 2px blue; */
  text-decoration: none;
  font-weight: bold;

  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
   color: #FC807D;
}
